<h1>Actor Info</h1>

<p><b>Actor Name:</b> <%= @actor.name %></p>
<p><b>Debut Year:</b> <%= @actor.year_first_film %></p>
<p><b>Academy Award status:</b> <%= @actor.academy_award %></p>
<p><b>ID:</b> <%= @actor.id %></p>
