<h1>Artists</h1>

<ol>
<% @artists.order('created_at DESC').each do |artist| %>
<li><%= link_to "#{artist.name}", "/artists/#{artist.id}" %><%= " was created_at #{artist.created_at}." %></li>
<% end  %>
</ol>

<%= link_to "Create new Artist", artists_new_path %>
